/******************/
/* Flex utilities */
.df,
.d-f,
.flex {
    display: flex;
}

.dfr {
    display: flex;
    flex-direction: row;
}

.dfrr {
    display: flex;
    flex-direction: row-reverse;
}

.dfc {
    display: flex;
    flex-direction: column;
}

.dfcr {
    display: flex;
    flex-direction: column-reverse;
}

.fd-r,
.fr {
    flex-direction: row;
}

.fd-rr,
.frr {
    flex-direction: row-reverse;
}

.fd-c,
.fc {
    flex-direction: column;
}

.fd-cr,
.fcr {
    flex-direction: column-reverse;
}

.fw-w {
    flex-wrap: wrap;
}

.fw-nw {
    flex-wrap: nowrap;
}



/* align items */
.ai-b {
    align-items: baseline;
}

.ai-s {
    align-items: flex-start;
}

.ai-c {
    align-items: center;
}

.ai-e {
    align-items: flex-end;
}

.ai-str {
    align-items: stretch;
}


/* align content */
.ac-b {
    align-content: baseline;
}

.ac-s {
    align-content: flex-start;
}

.ac-c {
    align-content: center;
}

.ac-e {
    align-content: flex-end;
}

.ac-str {
    align-content: stretch;
}



/* justify content */
.jc-s {
    justify-content: flex-start;
}

.jc-c {
    justify-content: center;
}

.jc-e {
    justify-content: flex-end;
}

.jc-sb {
    justify-content: space-between;
}

.jc-sa {
    justify-content: space-around;
}

.jc-se {
    justify-content: space-evenly;
}



/* align items & justify content */
.ai-s--jc-s,
.jc-s--ai-s,
.ajs,
.jas {
    align-items: flex-start;
    justify-content: flex-start;
}

.ai-s--jc-c,
.jc-c--ai-s,
.as-jcc,
.jcc-as {
    align-items: flex-start;
    justify-content: center;
}

.ai-s--jc-e,
.jc-e--ai-s,
.as-jce,
.jce-as {
    align-items: flex-start;
    justify-content: flex-end;
}

.ai-c--jc-c,
.jc-c--ai-c,
.ajc,
.jac {
    align-items: center;
    justify-content: center;
}

.ai-e--jc-s,
.jc-s--ai-e {
    align-items: flex-end;
    justify-content: flex-start;
}

.ai-e--jc-e,
.jc-e--ai-e,
.aje,
.jae {
    align-items: flex-end;
    justify-content: flex-end;
}


/* align & justify content */
.ac-s--jc-s,
.jc-s--ac-s,
.acs-js,
.js-acs,
.ajs,
.jas {
    align-content: flex-start;
    justify-content: flex-start;
}

.ac-s--jc-c,
.jc-c--ac-s,
.acs-jc,
.jc-acs {
    align-content: flex-start;
    justify-content: center;
}

.ac-s--jc-e,
.jc-e--ac-s,
.acs-je,
.je-acs {
    align-content: flex-start;
    justify-content: flex-end;
}

.ac-c--jc-c,
.jc-c--ac-c,
.ac-jc,
.jc-ac,
.acjc,
.jcac {
    align-content: center;
    justify-content: center;
}

.ac-e--jc-s,
.jc-s--ac-e {
    align-content: flex-end;
    justify-content: flex-start;
}

.ac-e--jc-e,
.jc-e--ac-e,
.ace-je,
.je-ae,
.acje,
.jcae {
    align-content: flex-end;
    justify-content: flex-end;
}